# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: project - yarn install
      working-directory: ./project
      run: yarn install
      
    - name: functions - yarn install
      working-directory: ./project/functions
      run: yarn install
      
    - name: project - create env file
      working-directory: ./project/src
      run: |
        touch .env
        echo API_KEY: '${{ secrets.API_KEY }}' >> .env
        echo AUTH_DOMAIN: '${{ secrets.AUTH_DOMAIN }}' >> .env
        echo DATABASE_URL: '${{ secrets.DATABASE_URL }}' >> .env
        echo PROJECT_ID: '${{ secrets.PROJECT_ID }}' >> .env
        echo STORAGE_BUCKET: '${{ secrets.STORAGE_BUCKET }}' >> .env
        echo MESSAGING_SENDER_ID: '${{ secrets.MESSAGING_SENDER_ID }}' >> .env
        echo APP_ID: '${{ secrets.APP_ID }}' >> .env
        cat .env

    - name: project - yarn generate
      working-directory: ./project
      run: yarn build-nuxt
      
    - name: deploy to Firebase Hosting
      uses: w9jds/firebase-action@master
      with:
        args: deploy
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        PROJECT_PATH: ./project/functions
